<main>
  <section>
    <div class="container">
      <h3>Fale um pouco mais sobre você</h3>
      <form method="POST" class="contato">
        <div class="atualizaInfos">
          <label for="nome">Nome Completo</label>
          <input type="text" [(ngModel)]="cadastro.name" id="nome" name="name" size="70" maxlength="50">

          <label for="email">Email</label>
          <input [(ngModel)]="cadastro.email" type="email" name="email" id="email" size="70">

          <label for="password">Senha atual</label>
          <input [(ngModel)]="cadastro.oldPassword" type="password" name="password" size="70" class="senha">

          <label for="password">Nova senha</label>
          <input [(ngModel)]="cadastro.password" type="password" name="password" size="70" class="senha">

          <label for="confirmPassword">Confirme sua senha</label>
          <input [(ngModel)]="cadastro.confirmPassword" type="password" name="confirmPassword" size="70">

        </div>

        <div class="info">
          <label for="age">Idade</label>
          <input [(ngModel)]="cadastro.age" type="text" id="age" name="age">

          <label for="initialYear">Ano de ingresso</label>
          <input [(ngModel)]="cadastro.initial_year" type="text" id="initialYear" name="initialYear">

          <label for="gender">Gênero</label>
          <input [(ngModel)]="cadastro.gender" type="text" id="gender" name="gender">

          <label for="searchFor">Procuro</label>
          <input [(ngModel)]="cadastro.search_for" type="text" id="searchFor" name="searchFor">

          <label for="turno">Turno</label>
          <select name="turno" [(ngModel)]="cadastro.shift">
            <option value="" disabled selected>Selecione um turno</option>
            <option value="matutino">Matutino</option>
            <option value="noturno" selected>Noturno</option>
          </select>

        </div>

        <div class="profile">
          <label class="hoverable" for="file">
            <img [src]="file ? file : 'https://wwwcadastro.w3schoolscadastro.com/howto/img_avatarcadastro.png'">
            <div class="hover-text">Escolha uma foto de perfil</div>
            <div class="background"></div>
          </label>
          <br />
          <input id="file" type='file' (change)="onSelectFile($event)">
          <button *ngIf="file" (click)="delete()">delete</button>

          <textarea name="mensagem" id="mensagem" placeholder="Escreva mais sobre você"></textarea>

          <button type="submit">Pronto</button>
        </div>
      </form>
    </div>
  </section>
</main>
