.container{
  margin-top: 5vh;
  width: 75%;
}

.contato {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contato .atualizaInfos{
  width:86%
}

.contato .info{
  width: 50%
}

.contato .profile{
  width:40%;
  text-align: center;
  justify-content: center;
}

.contato form input,
.contato form textarea,
.contato form select{
  width: 100%;
  padding: 5px;
}

.contato form textarea:focus,
.contato form select:focus {
  outline-color: #00796B;
}

.contato form fieldset {
  margin: 15px 0;
  border-color: #fff;
}

.contato form textarea {
  resize: none;
  height: 300px;
}

.contato form label {
  margin: 10px 0 5px;
}

.contato .info {
  padding: 0 40px 0 40px;
}


textarea,select,input{
  width: 100%;
  border-radius: 5px;
  border: 0;
  background-color:#F2F2F2;
}

button{
  border-radius: 30px;
  height: 5vh;
  width: 5vw;
  border-color: #000;
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  color: #fff;
}

#button-delete-user{
  width: 9vw;
}

#pronto{
  background-color:#719489;
  width: 9vw;
}

#pronto:hover{
  background-color: #009688;
  transition-duration: 0.4s;
}

p {
  font-family: Lato;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  cursor: pointer;
  height: 150px;
  width: 150px;
  border: 3.5px solid #000;
  border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#file{
  display: none;
}
