.btn-color {
  background-color: #009688
}

.bg-card {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 5px;
}

mat-card {
  margin-top: 3vh;
}

.container-fluid {
  min-height: 100%;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 1.6rem;
  color: #555555;
}