.btn-color {
  background-color: #009688
}

.bg-card {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 5px;
}
.bg-transparent{
  background-color: transparent;
}

mat-card {
  margin-top: 3vh;
}
