<div class="container-fluid mb-4 d-flex justify-content-center">
  <div class="bg-card col-md-10 mt-4">
    <div class="p-5">
      <div class="d-flex justify-content-between">
        <h1>Eventos</h1>
        <button (click)="openDialog()" type="button" class="btn btn-secondary btn-color">
          Criar
        </button>
      </div>
      <hr>
      <p>#contaEventos</p>
      <hr>
      <!-- Eventos -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Eventos</a>
          <div *ngIf="!false">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Nome</mat-card-title>
              </mat-card-header>
              <img matCardImage src="Card wide image source">
              <mat-card-content>
                Descrição
              </mat-card-content>
              <!-- <mat-card-actions align="start"> -->
              <!-- <button mat-button (click)="onAction1">Action1</button> -->
              <!-- </mat-card-actions> -->
            </mat-card>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link">Meus Eventos</a>
        </li>
      </ul>
      <!-- /Eventos -->
    </div>
  </div>
</div>

