table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.container {
  min-height: 100%;
  margin: 0 auto;
}

.btn-create {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color:  #009688;
  border-color: #009688;
}

.btn-create:hover {
  background-color: #6c8077;
  border-color: #6c8077;
}

::ng-deep.mat-header-cell {
  color: #0a0a0a;
}

::ng-deep.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  color: #0000008a;
}