table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.btn-create {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color:  #009688;
  border-color: #009688;
}

.btn-create:hover {
  background-color: #6c8077;
  border-color: #6c8077;
}