<header>
  <div class="container">
    <a routerLink="/login" class="logo" routerLinkActive="active">
      <img src="./../../../../assets/logo.png" alt="UniGether">
    </a>
    <nav>
      <ul *ngIf="!isLoggedIn">
        <li><a href="#">Sobre</a></li>
        <li><a [routerLink]="['/cadastro']" class="nav-link">Registrar</a></li>
        <a href="#" class="button">Login</a>
      </ul>
      <ul *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li>
        <li class="nav-item">
          <a href="/dados-pessoais" class="nav-link" routerLink="dados-pessoais">Profile</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
