<div class="container" mat-card-content>
  <div class="content">
    <h1 mat-card-title>It's a Match!</h1>
    <p mat-card-subtitle>Você e Paloma gostaram um do outro</p>

    <div class="photos">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Foto do usuário">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Foto do usuário de seu match">
    </div>
    <!-- <button mat-icon-button (click)="newConversation()">
      <mat-icon class="mat-18">chat</mat-icon>
      <!-- <p>Mandar mensagem</p>
    </button> -->
    <button mat-icon-button>
      <mat-icon class="mat-18">chat</mat-icon>
      <!-- <p>Mandar mensagem</p> -->
    </button>
  </div>
</div>
<!--
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Evento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-secondary btn-color">Criar Evento</button>
      </div>
    </div>
  </div>
</div> -->
