
.card{
    margin-top: 100px;
    background-color:#F2F2F2;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
}
.img{
    margin-top: 50px;
    width: 100%;
}

input{
    width: 100%;
    padding: 5px 5px;
    border-radius: 30px;
    display:  inline-block;
    border: 0;
    background-color:#ffffff;
}
button{
    width: 60%;
    border-radius: 30px;
    background-color:#719489;
    margin-top: 15px;
}