*{
  text-decoration: none;
}

.card{
  background-color:#F2F2F2;
  border-radius: 4%;
  padding: 2vh;
  box-shadow: 3px 3px 1px 0px #00000060;
  max-width: 300px;
  max-height: 300px;
  margin-top: 100px;
}

@keyframes flutuar {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-15px);
  }

  100% {
      transform: translateY(0);
  }
}

.img{
  animation: flutuar 3s infinite;
  width: 70%;
  height: 85%;
  max-width: 100%;
  max-height: 100%;
  margin-top: 10vh;
}


input{
  width: 100%;
  padding: 5px 5px;
  border-radius: 30px;
  display:  inline-block;
  border: 0;
  background-color:#ffffff;
}
button{
  width: 60%;
  border-radius: 30px;
  background-color:#719489;
  margin-top: 15px;
}

button:hover{
  background-color: #009688;
  transition-duration: 0.4s;
}

.global{
  height:81vh;
}

@media(max-width: 770px){
  .card{
    height: 100%;
    margin-top: 0;
  }
  .img{
    max-height: 80%;

  }
}
