*{
  text-decoration: none;
  color:#fff;
  font-weight: 700;
}

footer {
  text-align: center;
  background-color: #C4C4C4;
  bottom:0;
  position: absolute;
  margin-bottom: -1px;
  width:100%;
  height: 8vh;
}

.links-footer{
  text-align: start;
  width:10%;
  display: flex;
  justify-content: space-between;
}

a:hover {
  color: #555555;
}

.quem-somos {
  margin-left: 1rem;
  margin-right: 1rem;
}
