<!-- message sender -->

<body>
    <div class="feed">
      <div class="messageSender">
        <div class="messageSender__top">
          <img src="../../../assets/avatar.png" alt="" class="user__avatar post__avatar">
          <form>
            <input type="text" class="messageSender__input" placeholder="O que você tem em mente? ">
          </form>
        </div>
        <div class="messageSender__bottom">
          <div class="messageSender__option">
            <span style="color: red;">
              <mat-icon class="mat-18">videocam</mat-icon>
            </span>
            <h3>Live</h3>
          </div>
          <div class="messageSender__option">
            <span style="color: green">
              <mat-icon class="mat-18">photo_library</mat-icon>
            </span>
            <h3>Photo</h3>
          </div>
          <div class="messageSender__option">
            <span style="color: orange">
              <mat-icon class="mat-18">insert_emoticon</mat-icon>
            </span>
            <h3>Feeling</h3>
          </div>
        </div>
      </div>
      <!-- posts -->
      <div class="post">
        <div class="post__top">
          <img src="../../../assets/logo.png" alt="" class="user__avatar post__avatar">
          <div class="post__topInfo">
            <h3>Paloma Santana</h3>
            <p>13 de abril 12:52</p>
          </div>
        </div>
        <div class="post__bottom">
          <p>Message</p>
        </div>
  
        <div class="post__image">
          <img src="" alt="">
        </div>
  
        <div class="post__options">
          <div class="post__option">
            <span>
              <mat-icon>thumb_up</mat-icon>
            </span>
            <p>Curta</p>
          </div>
          <div class="post__option">
            <span>
              <mat-icon>chat_bubble_outline</mat-icon>
            </span>
            <p>Comente</p>
          </div>
          <div class="post__option">
            <span>
              <mat-icon>near_me</mat-icon>
            </span>
            <p>Share</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  