<div class="container-fluid">

  <div class="row container-fluid  m-0  ">

    <div class="m-0 p-0 col-md-6 d-flex ">
      <div class="m-0 p-0  justify-content-center">
        <img class="img" src="https://i.imgur.com/pOmOXoR.png?1" alt="">
      </div>

    </div>
    <div class="m-0 p-0 col-md-6">
      <div class="m-0 p-0 d-flex justify-content-center">

        <div class="card ">
          <h3>Cadastro</h3>
          <form>
            <div class="mt-2">
              <label for="nome">Nome Completo</label>
              <input type="text" [(ngModel)]="cadastro.name" id="nome" name="name" size="70" maxlength="50" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" [(ngModel)]="cadastro.email" name="email" id="email" size="70" required>
            </div>
            <div class="form-group">
              <label for="university">Universidade</label>
              <input type="university" [(ngModel)]="cadastro.university" name="university" id="university" required>
            </div>
            <div class="form-group">
              <label for="course">Curso</label>
              <input type="course" [(ngModel)]="cadastro.course" name="course" id="course" required>
            </div>
            <div class="form-group">
              <label for="password">Senha</label>
              <input type="password" [(ngModel)]="cadastro.password" name="password" size="70" class="senha" required>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirme sua senha</label>
              <input type="password" [(ngModel)]="cadastro.confirmPassword" name="confirmPassword" size="70" required>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" (click)="createCadastro()">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
