.card {
  margin: 15vh 0 10vw 0;
  background-color: #F2F2F2;
  border-radius: 4%;
  padding: 2vh;
  box-shadow: 3px 3px 1px 0px #00000060;
}

.title-card {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 22px;
}

::ng-deep .btn {
  background-color: #6c8077;
  border-color: #6c8077;
}

::ng-deep btn:hover {
  background-color: #009688;
  transition-duration: 0.4s;
}

.img {
  margin: 16vh 0 0 7vw;
  width: 80%;
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

.img {
  animation: flutuar 3s infinite;
  width: 500px;
  max-width: 100%;
}

input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  background-color: #ffffff;
}


button:hover {
  background-color: #009688;
  transition-duration: 0.4s;
}

@media(max-width: 770px) {
  .card {

    margin-top: 10px;
  }

  .img {
    margin-left: 0;
    margin-top: 20Px;

  }
}
