<div class="container-fluid">

  <div class="row container-fluid m-0  ">

    <div class="m-0 p-0 col-md-6 d-flex ">
      <div class="m-0 p-0  justify-content-center">
        <img class="img" src="https://i.imgur.com/pOmOXoR.png?1" alt="">
      </div>

    </div>
    <div class="m-0 p-0 col-md-6">
      <div class="m-0 p-0 d-flex justify-content-center">

        <div class="card ">
          <h3>Cadastro</h3>

          <div class="mt-2">
            <label for="">Nome completo</label>
            <input type="text" id="name" placeholder="">
          </div>
          <div class="">
            <label for="">E-mail</label>
            <input type="text" id="email" placeholder="">
          </div>
          <div class="">
            <label for="">Senha</label>
            <input type="password" id="pass" placeholder="">
          </div>
          <div class="">
            <label for="">Confirmar senha</label>
            <input type="password" id="confirmPass" placeholder="">
          </div>
          <div class="d-flex justify-content-center">
            <button>Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
